@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://db.onlinewebfonts.com/c/b396395b8cf83c87aa9fb4f192820303?family=Broadcast+Matter'); 

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Raleway', sans-serif;
    }
}

@layer utilities {    
    .text-shadow {
        text-shadow: 2px 2px 4px black;
    }
    .text-shadow-md {
        text-shadow: 4px 4px 8px black;
    }
    .text-shadow-lg {
        text-shadow: 15px 15px 30px black;
    }
    .text-shadow-none {
        text-shadow: none;
    }
    
}

/* @font-face {font-family: "Broadcast Matter"; src: url("//db.onlinewebfonts.com/t/b396395b8cf83c87aa9fb4f192820303.eot"); src: url("//db.onlinewebfonts.com/t/b396395b8cf83c87aa9fb4f192820303.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/b396395b8cf83c87aa9fb4f192820303.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/b396395b8cf83c87aa9fb4f192820303.woff") format("woff"), url("//db.onlinewebfonts.com/t/b396395b8cf83c87aa9fb4f192820303.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/b396395b8cf83c87aa9fb4f192820303.svg#Broadcast Matter") format("svg"); } */